/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-1-2, 10:50:40
    Author     : netbusy
*/
.bypanelhead a,.bypanelhead a:visited,.bypanelhead a:hover{
    text-decoration: none;
    color: white; 
}
.bypanelhead{
    width: auto;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    letter-spacing:2px;
    position: relative;
    background: #1C86EE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#191970), to(#1C86EE));
    background-image: -webkit-linear-gradient(top, #191970, #1C86EE);
    background-image: -moz-linear-gradient(top, #191970, #1C86EE);
    background-image: -ms-linear-gradient(top, #191970, #1C86EE);
    background-image: -o-linear-gradient(top, #191970, #1C86EE);
    background-image: linear-gradient(to bottom, #191970, #1C86EE);
    padding: 0.3em .5em 0.3em .5em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}
.bypanelhead::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #1C86EE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#1C86EE));
    background-image: -webkit-linear-gradient(top, #191970, #1C86EE);
    background-image: -moz-linear-gradient(top, #191970, #1C86EE);
    background-image: -ms-linear-gradient(top, #191970, #1C86EE);
    background-image: -o-linear-gradient(top, #191970, #1C86EE);
    background-image: linear-gradient(to bottom, #191970, #1C86EE);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    
}

.bypanelhead span{
    
}

.bypanelcontent{
    width: inherit;
    height: border-box;
}